@font-face {
    font-family: 'thuluth-decorated';
    src: url('../fonts/thuluth-decorated.eot');
    src: local('ثلث مزخرف'), local('thuluth-decorated'),
        url('../fonts/thuluth-decorated.woff') format('woff');
}

@font-face {
    font-family: 'cairo-bold';
    src: url('../fonts/cairo-bold.eot');
    src: local('القاهرة ثقيل'), local('cairo-bold'), url('../fonts/cairo-bold.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600&family=Tajawal:wght@400;500;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    background-color: #e8dac3;

}

:root {
    --main-color: #DC9C51;
    --text-color: #fff;
    --other-color: #212121;
    --second-color: #3F200C;
    --bg-color: #111111;

    /* fonts */
    --big-font: 4.5rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;

    /* borders */
    --shadow-main: #ff9f0d 0 1px 25px;

}

.general-header {
    font-family: 'thuluth-decorated';
    color: var(--main-color);
text-align: center;
}

.general-color {
    color: var(--main-color)
}

.general-btn {
    background-color: var(--main-color);
    outline: 0;
    border: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    padding: 10px 30px;
    font-size: 18px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    text-transform: capitalize;
    color: white;
}

.general-btn:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

::selection {
    background-color: var(--main-color);
    color: white;
}

a {
    text-decoration: none;
}

.scrolling-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: var(--main-color);
    color: #1f2947;
    border-radius: 50%;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: all .3s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.scrolling-up.show {
    opacity: 1;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: all 0.5s ease;
    padding: 5px 8%;
    background-color: #3F200C;
}

.logo,
.logo span {
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    font-family: 'thuluth-decorated';

}

.logo i {
    vertical-align: middle;
    margin-right: 8px;
    color: var(--main-color);
}

.nav-list {
    display: flex;
    list-style: none;
    font-size: 18px;
    /* border: 2px solid rgb(0, 187, 255); */
    margin-top: 5px;
    /* background-color: gray; */
    /* border: 2px solid red; */
    /* align-items: center; */
    margin-top: 10px;

    padding: 0 !important;
}

.nav-list li {
    margin-left: 50px;
}

.nav-list a {
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    /* margin: 0 30px; */
    transition: all 0.5s ease;
    /* color: green; */
}

.nav-list a:hover {
    color: var(--main-color);
}

.nav-list a.active {
    color: var(--main-color);
}

.nav-icons {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    /* background: var(--main-color); */
    border-radius: 3rem;
    /* box-shadow: var(--shadow-main); */
}

.nav-icons i {
    vertical-align: middle;
    font-size: 25px;
    color: var(--main-color);
    margin-right: 8px;
    margin-left: 5px;
    transition: all 0.5s ease;
}

#menu-icon {
    font-size: 32px;
    color: var(--main-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.nav-icons i:hover {
    transform: scale(1.1);
    color: var(--text-color);
}

@media only screen and (max-width:1300px) {
    #menu-icon {
        display: initial;
    }

    .nav-list {
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        background: var(--other-color);
        transition: all 0.5s ease;
    }

    .nav-list a {
        display: block;
        padding: 0.5rem;
        margin: 1rem;
        border-left: 2px solid var(--main-color);
    }

    .nav-list.open {
        top: 100%;
    }
}

nav .nav-item {
    font-size: 20px;
    font-weight: 400;

}

.main-section {
    height: 100vh;
    background-image: url(../img/1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.main-section h2 {
    position: absolute;
    top: 50%;
    right:0;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    font-size: 30px;
}

.readers-section {
    padding: 60px 0 100px 0;
    background-image: url(../img/ART-32\ 1.png) ; 

    /* background-image: url(../img/ART-32\ 1.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #e8dac3;
    /* border: 2px solid greenyellow; */
}

.readers-section .card {
    padding-bottom: 2px;
    background: linear-gradient(0deg, #3F200C, #3F200C),
    linear-gradient(0deg, #EFAC5A, #EFAC5A);
        transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid var(--main-color);
}

.readers-section .card img {
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.readers-section .card:hover {
    background-color: #1f2947;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.websites {
/* border: 2px solid red; */
    padding-bottom: 80px;
    /* min-height: 80vh; */
    background-image: url(../img/ART-32\ 1.png);

    /* background-image: url(../img/ART-32\ 1.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #e8dac3;
}
.imag-q{
    /* border: 2px solid red; */
    text-align: center;
}
.imag-q img{
max-width:  100%;
}
.websites .website {
    padding: 20px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    cursor: pointer;
    border: 1px solid var(--main-color);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

.website-1 {
    height: 125px;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--main-color);
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    padding-left: 20px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    cursor: pointer;
    background-color: white;
}
.website-3 {
    flex-direction: column;
    z-index: 2000 !important;
 }
 
.website-1 img{
    height: 125px
}
.website-1 a ,.website-3 a {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    color: #5585BD;

}

.website-1 a:hover ,.website-3 a:hover{
    color: var(--main-color);
}

.website-1 p ,.website-3 p{
    flex-direction: column;
    font-size: 25px;
}

.websites .website:hover ,.websites .website-1:hover   {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.web{
    margin-top: 30px;
    padding:150px 0 !important;
    background-image: url(../img/Rectangle\ 10.jpg);

    /* background-image: url(../img/ART-32\ 1.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.web1{
    margin-top: 30px;
    padding:90px 0 !important;
    background-image: url(../img/ART-32\ 1.png);

    /* background-image: url(../img/ART-32\ 1.png); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size: contain;
    background-color: #e8dac3;
}
.web-link{
    z-index: 200 !important;

}
.web::after{
    position: absolute;
    content: "";
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.3);
/* z-index: 1; */
top: 0;
left: 0;

    
}

.cc{
    z-index: 200 !important;
 /* color: white; */

}

footer {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fdf7e8));
    background: -webkit-linear-gradient(top, transparent, #fdf7e8);
}